fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
python-dotenv
pypdf
tiktoken
sentence-transformers
chromadb
rank-bm25
groq
pytesseract
pypdfium2
Pillow
numpy
packaging
protobuf
httpx
langchain-core
langchain-groq
langchain-google-genai
duckduckgo-search
pandas
fpdf2
